
  /* Título del modal */
  .modal-title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  /* Texto del cuerpo del modal */
  .modal-body {
    font-size: 16px;
    color: #555;
  }
  
